[user]
	name = Reza Rahemtola
	email = reza.rahemtola@epitech.eu
	signingkey = 7F008C62337360ED
[core]
	excludesfile = ~/.gitignore

	# Speed up commands involving untracked files such as git status.
	# See https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	# Create a temporary stash entry before the operation begins.
	autostash = true
